/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  /* Do I need to change box-sizing as a reset? */
  box-sizing: border-box; 
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 1.6rem;
}

li, button, label, input, p {
  font-size: 1.25rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.9rem;
  font-weight: 400;
}

h4, h5 {
  font-size: 1.75rem;
}

a {
  color: white;
  text-decoration: none; 
}

/* :hover is a pseudoclass */
a:hover {
  text-decoration: underline;
}

button {
  border: none;
  background: #186fda;
  padding: 1.25rem 3.75rem;
  color: white;
  font-size: 1.125rem;
  /* This changes the mouse cursor to a 'click' finger cursor when hovering */
  cursor: pointer;
  /* This is looking for what changes in the pseudoclass */
  transition: background,outline 0.2s ease;
}

button:hover {
  background: #131C27;
  /* outline is similar to border except it takes up no space. A border here would shift the content above it */
  outline: solid white ;
}

/* Nav Styling with HERO */
.main-head {
  background-color: #131c27;
}

nav {
  color: white;
  display: flex;
  align-items: center;

  /* Margin: auto will fill available space based on width */
  width: 90%;
  margin: auto;
  /* Padding ensures some size and the min-height will allow it to grow */
  padding: 1.25rem;
  min-height: 10vh;;
}

#logo {
  flex: 2 1 25rem;
  font-family: 'Pattaya', sans-serif;
  font-weight: 400;
}

nav ul {
  display: flex;
  flex: 1 1 25rem;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.hero {
  min-height: 90vh;
  /* background can be chained with image and gradient */
  background: linear-gradient(rgba(0,0,0,0.5), transparent),url('./img/landing-page.jpg');
  background-repeat: no-repeat;
  /* Will resize and fill in area */
  background-size: cover ;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h3 {
  padding: 3.125rem;
}

/* Locations Section */
#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5), transparent),url("./img/new-york-page.png") no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  /* This hides the cloud animation that technically leaves the section. */
  overflow: hidden;  
}

.locations-head {
  width: 90%;
  margin: auto;
}

.locations-head h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
}

.locations-head h3 {
  padding: 2rem 0rem;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.cloud {
  /* This 'removes' the item from the document so it no longer affects the position of other content */
  position: absolute;
  top: 0%;
  right: 0%;
  
}

.moving-cloud-1 {
  animation: cloud-animation 3s infinite alternate ease-in-out;
}

.moving-cloud-2 {
  top: 10%;
  z-index: -1;
  opacity: 0.5;
  animation: cloud-animation 3.2s infinite alternate ease-in-out;
}

@keyframes cloud-animation {
  0% {
    transform: translate(0%, 0%);
  }

  100%{
    transform: translate(10%, -10%);
  }
}


/* Benefits Section */
.benefits-head {
  background: #131c27;
  color: white;
  padding: 2.4rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.benefits-head h3 {
  padding: 0.8rem;
}

.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}

.cards img {
  height: 100px;
  max-width: 15%;
  margin: 1.8rem;
}

.img-container {
  background-color: #164072;
}

.card {
  /* Two box shadows separated by commas allows for box-shadow transitions or gradients. RGBA was used for color to reduce the intensity of the shadow */
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
  flex: 1 1 20rem;
  min-height: 40vh;
  margin: 1.6rem 3.2rem;
  text-align: center;
}

.card h4, p {
  padding: 0.8rem;
}


/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {

  .cloud {
    height: 30rem;
  }

}

@media screen and (max-width: 450px) {

  .cloud {
    height: 20rem;
    /* Stops image grab from happening */
    pointer-events: none;
  }

}