/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  /* Do I need to change box-sizing as a reset? */
  box-sizing: border-box; 
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 1.6rem;
}

li, button, label, input, p {
  font-size: 1.25rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.9rem;
  font-weight: 400;
}

h4, h5 {
  font-size: 1.75rem;
}

a {
  color: white;
  text-decoration: none; 
}

/* :hover is a pseudoclass */
a:hover {
  text-decoration: underline;
}

button {
  border: none;
  background: #186fda;
  padding: 1.25rem 3.75rem;
  color: white;
  font-size: 1.125rem;
  /* This changes the mouse cursor to a 'click' finger cursor when hovering */
  cursor: pointer;
}

button:hover {
  background: #054ea7;
}

/* Nav Styling with HERO */
.main-head {
  background-color: #131c27;
}

nav {
  color: white;
  display: flex;
  align-items: center;

  /* Margin: auto will fill available space based on width */
  width: 90%;
  margin: auto;
  /* Padding ensures some size and the min-height will allow it to grow */
  padding: 1.25rem;
  min-height: 10vh;;
}

#logo {
  flex: 2 1 25rem;
  font-family: 'Pattaya', sans-serif;
  font-weight: 400;
}

nav ul {
  display: flex;
  flex: 1 1 25rem;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.hero {
  min-height: 90vh;
  /* background can be chained with image and gradient */
  background: linear-gradient(rgba(0,0,0,0.5), transparent),url('./img/landing-page.jpg');
  background-repeat: no-repeat;
  /* Will resize and fill in area */
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h3 {
  padding: 3.125rem;
}

/* City Section */
.city h2 {
  font-size: 2rem;
  text-decoration: underline;
}